@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  --background: 222.2 47.4% 11.2%; /* bg-gray-950 */
  --foreground: 210 40% 98%;
  --muted: 210 40% 16.1%;
  --muted-foreground: 215.4 16.3% 76.9%;
  --border: 214.3 31.8% 41.4%;
  --input: 214.3 31.8% 41.4%;
  --ring: 215 20.2% 65.1%;
  --card: 222.2 47.4% 11.2%;
  --card-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 210 40% 16.1%;
  --secondary-foreground: 210 40% 98%;
  --accent: 210 40% 16.1%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
}

/* 기본 스타일 */
* {
  border-color: var(--border);
}

body {
  @apply bg-white text-black transition-colors duration-300 dark:bg-gray-950 dark:text-white;
}
/* 
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
} */
