# Apps in Toss mTLS 인증서(.crt 파일 전체)의 Base64 인코딩 값
APPS_IN_TOSS_MTLS_CERT_BASE64=
# Apps in Toss mTLS private.key 파일 전체의 Base64 인코딩 값
APPS_IN_TOSS_MTLS_PRIVATE_KEY_BASE64=
# Toss가 제공한 Base64 AES-256 로그인 복호화 키
APPS_IN_TOSS_LOGIN_DECRYPTION_KEY=
# Toss가 제공한 로그인 복호화 AAD
APPS_IN_TOSS_LOGIN_AAD=
